<ul class="nav sidebar-menu">
    <li class="sidebar-label pt20">Menu</li>
    <li class="active">
        <a href="{{ path('wit_user_default_index') }}">
            <span class="glyphicons glyphicons-home"></span>
            <span class="sidebar-title">Dashboard</span>
        </a>
    </li>
    <li>
        <a href="{{ path('wit_user_application_index') }}">
            <span class="glyphicon glyphicon-book"></span>
            <span class="sidebar-title">New Application</span>
        </a>
    </li>

    <li>
        <a href="{{ path('wit_user_application_history') }}">
            <span class="glyphicon glyphicon-time"></span>
            <span class="sidebar-title">Application History</span>
        </a>
    </li>

    <li class="sidebar-label pt20">Misc.</li>

    <li>
        <a href="{{ path('wit_user_default_index') }}">
            <span class="octicon octicon-radio-tower"></span>
            <span class="sidebar-title">Notifications</span>
        </a>
    </li>

    <li>
        <a href="{{ path('wit_user_default_index') }}">
            <span class="glyphicons glyphicons-message_new"></span>
            <span class="sidebar-title">Latest News</span>
        </a>
    </li>

    <li>
        <a href="{{ path('wit_user_message_index') }}">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span class="sidebar-title">Contact Us</span>
        </a>
    </li>
    
    <li class="sidebar-proj">
        <a href="{{ path('wit_user_default_changepassword') }}">
            <span class="fa fa-dot-circle-o text-info"></span>
            <span class="sidebar-title">Change Password</span>
        </a>
    </li>
</ul>