{% block pagestylesup %}
    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/secure/vendor/plugins/datatables/media/css/dataTables.bootstrap.css') }}">

    <!-- Datatables Editor CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/secure/vendor/plugins/datatables/extensions/Editor/css/dataTables.editor.css') }}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/secure/vendor/plugins/magnific/magnific-popup.css') }}">
{% endblock %}

{% block pagestyles %}
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/secure/assets/admin-tools/admin-forms/css/admin-forms.css') }}">
    
    <!-- Admin Modals CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/secure/assets/admin-tools/admin-plugins/admin-modal/adminmodal.css') }}">
{% endblock %}

{% extends ':enrol:enrol.html.twig' %}

{% block title %}Enrolling by quarter{% endblock %}
{% set breadcrumbPage = "Enrolling by quarter" %}

{% block content %}
    
    <!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">
        
        <!-- begin: .tray-center -->
        <div class="tray tray-center va-t posr">

            <div class="mw1100 center-block">
                <h2 class="lh30 mt25 text-center">ENROLLING BY QUARTER</h2>
                <p class="text-center">
                    Users having ROLE_STUDENT in selected group will be enrolled in all courses of selected quarter
                </p>
            </div>

            {% for flashMessage in app.session.flashbag.get('error') %}
                {% if flashMessage %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="fa fa-remove pr10"></i>
                        <strong>{{ flashMessage | raw }}</strong>
                    </div>
                {% endif %}
            {% endfor %}

            <!-- create new user panel -->
            <div class="panel mb25 mt5">
                <div class="panel-heading">
                    <span class="panel-title"> New Enrolment</span>
                    <ul class="nav panel-tabs-border panel-tabs">
                        <li class="active"><a href="#tab-add-new-record" data-toggle="tab">info</a></li>
                    </ul>
                </div>
                <div class="panel-body p20 pb10">
                    <div class="tab-content pn br-n admin-form">

                        <div id="tab-add-new-user" class="tab-pane active">
                            <form id="onboard-by-group-form" action="{{ path('wit_userenrolment_default_quarter') }}" method="post">        
                                <div class="section row">
                                    
                                    <div class="col-md-12">
                                        <label for="file1" class="field-label">Select Group:</label>
                                        <label class="field select">
                                            <select id="group" name="group">
                                                <option value=""> - Please select group..</option>
                                                {% for group in groups %}
                                                    <option value="{{ group.id }}">{{ group.title }} ({{ group.groupUsers|length }})</option>
                                                {% endfor %}
                                            </select>
                                            <i class="arrow"></i>
                                        </label>
                                    </div>

                                    <div class="col-md-12">
                                        <p></p>
                                        <label for="file1" class="field-label">Select Quarter:</label>
                                        <label class="field select">
                                            <select id="quarter" name="quarter">
                                                <option value=""> - Please select quarter..</option>
                                                {% for quarter in quarters %}
                                                    <option value="{{ quarter.id }}">{{ quarter.fullTitle }}</option>
                                                {% endfor %}
                                            </select>
                                            <i class="arrow"></i>
                                        </label>
                                    </div>

                                </div><!-- end .section row section -->

                                <!-- end .form-body section -->
                                <div class="panel-footer clearfix">
                                    <button type="submit" class="button btn-primary pull-right">Enrol Now</button>
                                </div>
                                <!-- end .form-footer section -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: create new user panel -->

        </div>
        <!-- end: .tray-center -->



        <!-- begin: .tray-right -->
        <aside class="tray tray-right tray290 va-t pn" data-tray-height="match">

            <!-- menu quick links -->
            <div class="p20 admin-form">

                <h4 class="mt5 text-muted fw500"> Search / Filter</h4>

                <hr class="short">

                

            </div>

        </aside>
                <!-- end: .tray-right -->



    </section>
    <!-- End: Content -->

{% endblock %}

{% block pagestylesdown %}
    <style>
        /* demo page styles */
        .custom-nav-animation li {
            display: none;
        }
        .custom-nav-animation li.animated {
            display: block;
        }
        .email-template {
            display: none;
        }
        .email-template.active {
            display: block;
        }

        /*th, td { white-space: nowrap; }*/
        .error{
            color: red !important;
        }
    </style>
{% endblock %}

{% block pagescripts %}
    <!-- Holder js  -->
    <script type="text/javascript" src="{{ asset('bundles/secure/assets/js/bootstrap/holder.min.js') }}"></script>
    
    <!-- Datatables -->
    <script type="text/javascript" src="{{ asset('bundles/secure/vendor/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>

    <!-- Datatables Tabletools addon -->
    <script type="text/javascript" src="{{ asset('bundles/secure/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js') }}"></script>

    <!-- Datatables Editor addon - READ LICENSING NOT MIT  -->
    <script type="text/javascript" src="{{ asset('bundles/secure/vendor/plugins/datatables/extensions/Editor/js/dataTables.editor.js') }}"></script>

    <!-- Datatables Bootstrap Modifications  -->
    <script type="text/javascript" src="{{ asset('bundles/secure/vendor/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/secure/vendor/plugins/datatables/extensions/Editor/js/editor.bootstrap.js') }}"></script>
    
    <!-- Page Plugins -->
    <script type="text/javascript" src="{{ asset('bundles/secure/vendor/plugins/magnific/jquery.magnific-popup.js') }}"></script>

    <!-- Admin Forms Javascript -->
    <script type="text/javascript" src="{{ asset('bundles/secure/assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/secure/assets/admin-tools/admin-forms/js/jquery-ui-timepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/secure/assets/admin-tools/admin-forms/js/jquery-ui-touch-punch.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/secure/assets/admin-tools/admin-forms/js/jquery.spectrum.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/secure/assets/admin-tools/admin-forms/js/jquery.stepper.min.js') }}"></script>
    
    <!-- JQuery Validation -->
    <script type="text/javascript" src="{{ asset('bundles/secure/assets/admin-tools/admin-forms/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/secure/assets/admin-tools/admin-forms/js/additional-methods.min.js') }}"></script>
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            
            $('#user-role-datatable').dataTable({
                "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [-1]
                }],
                "oLanguage": {
                    "oPaginate": {
                        "sPrevious": "",
                        "sNext": ""
                    }
                },
                "iDisplayLength": 10,
                "aLengthMenu": [
                    [5, 10, 25, 50, -1],
                    [5, 10, 25, 50, "All"]
                ],
                "sDom": '<"dt-panelmenu clearfix"Tfr>t<"dt-panelfooter clearfix"ip>',
                "oTableTools": {
                    "sSwfPath": "{{ asset('bundles/secure/vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf') }}"
                }
            });

            $("#add-new-user-form").validate({
                rules: {
                    wit_modelbundle_user_firstname: {
                      required: true,
                      minlength: 3,
                    },
                    wit_modelbundle_user_lastname: {
                      required: true,
                      minlength: 3,
                    },
                    wit_modelbundle_user_email: {
                      required: true,
                      minlength: 8,
                      email: true,
                    },
                    wit_modelbundle_user_nationalid: {
                      required: true,
                      min: 10,
                      number: true,
                    },
                    wit_modelbundle_user_password: {
                      required: true,
                      minlength: 5,
                    },
                    confirmPassword: {
                      required: true,
                      equalTo: "#wit_modelbundle_user_password",
                    },
                    wit_modelbundle_user_roles: {
                      required: true,
                    }
                }
            });
            
        });
    </script>
    <!-- END: PAGE SCRIPTS -->
{% endblock %}