<ul class="nav sidebar-menu">
    <li class="sidebar-label pt20">Menu</li>
    <li class="active">
        <a href="{{ path('wit_sad_default_index') }}">
            <span class="glyphicons glyphicons-home"></span>
            <span class="sidebar-title">Dashboard</span>
        </a>
    </li>
    <li>
        <a class="accordion-toggle" href="#">
            <span class="glyphicons glyphicons-bullhorn"></span>
            <span class="sidebar-title">Admissions</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li><a href="{{ path('wit_sad_admissionscheduler_index') }}"><span class="glyphicons glyphicons-calendar"></span> Admission Scheduler </a></li>
            <li><a href="{{ path('wit_sad_application_index') }}"><span class="glyphicon glyphicon-book"></span> All Applications </a></li>
            <li><a href="{{ path('wit_sad_applicationgroup_index') }}"><span class="glyphicons glyphicons-show_thumbnails"></span> Application Groups </a></li>
            <li>
                <a class="accordion-toggle menu-open" href="#">
                    <span class="glyphicon glyphicon-transfer"></span>
                    Onboarding
                    <span class="caret"></span>
                </a>
                <ul class="nav sub-nav">
                    <li><a href="{{ path('wit_onboarding_default_bygroup') }}" style="color:#d1d1d1;">&nbsp;By Application Groups</a></li>
                    <li><a href="{{ path('wit_onboarding_default_index') }}" style="color:#d1d1d1;">&nbsp;By Individuals</a></li>
                </ul>
            </li>
            <!--<li><a href=""><span class="glyphicons glyphicons-sampler"></span> Archived Applications </a></li>-->
        </ul>
    </li>

    <li>
        <a class="accordion-toggle" href="#">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="sidebar-title">Course Management</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <!--<li><a href="{{ path('wit_coursemanagement_category_index') }}"> <span class="glyphicons glyphicons-list"></span> Categories</a></li>
            <li><a href="{{ path('wit_coursemanagement_batch_index') }}"> <span class="glyphicons glyphicons-list"></span> Batches</a></li>
            <li><a href="{{ path('wit_coursemanagement_quarter_index') }}"> <span class="glyphicons glyphicons-list"></span> Quarters</a></li> -->
            <li><a href="{{ path('wit_coursemanagement_default_index') }}"> <span class="glyphicons glyphicons-list"></span> Courses</a></li>
        </ul>
    </li>

    <li>
        <a href="#" class="accordion-toggle">
            <span class="glyphicon glyphicon-transfer"></span> 
            <span class="sidebar-title">User Enrolment</span> 
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <!-- <li><a href="{{ path('wit_userenrolment_default_new') }}">&nbsp;&nbsp;&nbsp; New Enrolment <i>(global)</i></a></li> -->
            <li><a href="{{ path('wit_userenrolment_default_viewtrainees') }}">&nbsp;&nbsp;&nbsp; View Trainees <i>(active)</i></a></li>
            <li><a href="{{ path('wit_userenrolment_default_viewteachers') }}">&nbsp;&nbsp;&nbsp; View Teachers <i>(active)</i></a></li>
        </ul>
    </li>

    <li>
        <a class="accordion-toggle" href="#">
            <span class="glyphicons glyphicons-envelope"></span>
            <span class="sidebar-title">Send Email</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li><a href="{{ path('wit_sendemail_default_appgroup') }}">&nbsp;&nbsp;&nbsp; to Application Group </a></li>
            <li><a href="{{ path('wit_sendemail_default_usergroup') }}">&nbsp;&nbsp;&nbsp; to User Group </a></li>
            <li><a href="{{ path('wit_sendemail_default_index') }}">&nbsp;&nbsp;&nbsp; Sent History </a></li>
        </ul>
    </li>

    <li>
        <a class="accordion-toggle" href="#">
            <span class="glyphicon glyphicon-phone"></span>
            <span class="sidebar-title">Send SMS</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li><a href="admin_plugins-panels.html">&nbsp;&nbsp;&nbsp; to Application Group </a></li>
            <li><a href="admin_plugins-panels.html">&nbsp;&nbsp;&nbsp; to User Group </a></li>
            <li><a href="admin_plugins-panels.html">&nbsp;&nbsp;&nbsp; Sent History </a></li>
        </ul>
    </li>

    <li>
        <a class="accordion-toggle" href="#">
            <span class="glyphicon glyphicon-time"></span>
            <span class="sidebar-title">Attendance</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li><a href="admin_plugins-panels.html"><span class="glyphicons glyphicons-stopwatch"></span> Attendance Setup </a></li>
            <li><a href="admin_plugins-panels.html"><span class="glyphicons glyphicons-stopwatch"></span> Take Attendance </a></li>
            <li><a href="admin_plugins-panels.html"><span class="glyphicons glyphicons-edit"></span> Report Generator </a></li>
            <li><a href="admin_plugins-panels.html"><span class="glyphicons glyphicons-edit"></span> Filtered/Saved Reports </a></li>
        </ul>
    </li>

    <li>
        <a class="accordion-toggle" href="#">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="sidebar-title">Examination</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li><a href="admin_plugins-panels.html"><span class="glyphicons glyphicons-stopwatch"></span> Examination Planner </a></li>
        </ul>
    </li>

    <li>
        <a class="accordion-toggle" href="#">
            <span class="glyphicon glyphicon-flash"></span>
            <span class="sidebar-title">Termination</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li><a href="admin_plugins-panels.html"><span class="glyphicons glyphicons-stopwatch"></span> New </a></li>
            <li><a href="admin_plugins-panels.html"><span class="glyphicons glyphicons-stopwatch"></span> Generate Letter </a></li>
            <li><a href="admin_plugins-panels.html"><span class="glyphicons glyphicons-stopwatch"></span> Self </a></li>
            <li><a href="admin_plugins-panels.html"><span class="glyphicons glyphicons-stopwatch"></span> By Institute </a></li>
        </ul>
    </li>

    <li>
        <a href="{{ path('wit_sad_default_index') }}">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span class="sidebar-title">Contact</span>
        </a>
    </li>

    <!-- sidebar bullets -->
    <li class="sidebar-label pt20">Misc.</li>

    <li>
        <a href="#">
            <span class="octicon octicon-radio-tower"></span>
            <span class="sidebar-title">Notification Center</span>
        </a>
    </li>

    <li>
        <a href="{{ path('wit_sad_gradingsystem_index') }}">
            <span class="glyphicon glyphicon-check"></span>
            <span class="sidebar-title">Grading System</span>
        </a>
    </li>
    
    <li>
        <a href="{{ path('wit_quicknews_default_index') }}">
            <span class="glyphicon glyphicon-calendar"></span>
            <span class="sidebar-title">Quick News</span>
        </a>
    </li>
    
    <li>
        <a href="{{ path('wit_user_default_changepassword') }}">
            <span class="glyphicon glyphicon-lock"></span>
            <span class="sidebar-title">Change Password </span>
        </a>
    </li>
</ul>