{% extends ':student:student.html.twig' %}

{% block title %}Student / Dashboard{% endblock %}

{% block pagestylesup %}
	
{% endblock %}

{% set breadcrumbPage = "Dashboard" %}

{% block content %}

	<!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center p25 va-t posr">

            <!-- dashboard tiles -->
            <div class="row">

                <div class="col-md-12">
                    <div data-animate="fadeIn" class="panel panel-transparent">
                        <h5 class="text-muted mb20 text-center">NEWS UPDATE FOR STUDENTS'</h5>
                    </div>
                </div>

                <!-- News List -->
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">NEWS UPDATE</span>
                            <div class="widget-menu pull-right mr10">
                                <a href="{{ path('wit_quicknews_default_viewall') }}">Browse All</a>
                            </div>
                        </div>
                        <div class="panel-body pn">
                            <table class="table mbn tc-med-1 tc-bold-last">
                                <tbody>
                                    {% for qn in quickNews %}
                                        <tr>
                                            <td {% if qn.isRead==0 %}style="font-weight:bold; font-size:15px;"{% endif %}>
                                                <i class="fa fa-exclamation-circle text-warning fa-lg pr10"></i>
                                                <span class="va-t mr10"></span><a href="{{ path('wit_quicknews_default_view', {'id':qn.id}) }}">{{ qn.title }}</a>
                                            </td>
                                            <td style="font-weight:normal; color:#999;">{{ qn.dateCreated|date("F jS \\a\\t g:ia") }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            	{# <div class="panel panel-transparent" data-animate="fadeIn">
                    <h5 class="text-muted mb20 text-center">SITE NEWS</h5>
                </div>

                <div class="col-sm-6 col-lg-12">
                    <div class="panel-group accordion" id="notifications">
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle accordion-icon link-unstyled" data-toggle="collapse" data-parent="#notifications" href="#notifications_body">
                                    <span class="panel-title"><span class="glyphicon glyphicon-cog hidden"></span>SITE NEWS</span>
                                </a>
                            </div>
                            <div id="notifications_body" class="panel-collapse collapse in" style="height: auto;">
                                <div class="panel-body">
                                    <div class="alert alert-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <i class="fa fa-info pr10"></i>
                                        <strong>Heads up!</strong> This
                                        <a href="#" class="alert-link">alert needs your attention</a>, it's kinda important.
                                    </div>
                                    <div class="alert alert-warning alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <i class="fa fa-warning pr10"></i>
                                        <strong>Warning!</strong> Best check yo self, you're
                                        <a href="#" class="alert-link">not looking too good</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> #}

                <div class="col-md-12">
                    <div class="panel panel-transparent" data-animate="fadeIn">
                        <h5 class="text-muted mb20 text-center">MY COURSES</h5>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-12">
                    <div class="panel-group accordion" id="my_courses">
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle accordion-icon link-unstyled" data-toggle="collapse" data-parent="#my_courses" href="#my_courses_body">
                                    <span class="panel-title"><span class="glyphicon glyphicon-cog hidden"></span>MY COURSES</span>
                                </a>
                            </div>
                            <div id="my_courses_body" class="panel-collapse collapse in" style="height: auto;">
                                <div class="panel-body">
                                    {% for data in enrolmentData %}
                                        <a href="{{ path('wit_teacher_course_view', {'course_id': data.course.id }) }}"><h3>{{ data.course.title }}</h3></a>
                                        <p>{{ data.course.description }}</p>
                                        <hr class="short alt">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end: .row -->

        </div>
        <!-- end: .tray-center -->

        <!-- begin: .tray-right -->
        <aside class="tray tray-right tray290 va-t pn" data-tray-height="match">

            <!-- store activity timeline -->
            <ol class="timeline-list pl5 mt10">
                {% for log in userLogs %}
                    {% if log.dateCreated > app.user.dateCreated %}
                    <li class="timeline-item">
                        <div class="timeline-icon bg-warning"><span class="fa fa-pencil"></span></div>
                        <div class="timeline-desc"><b>{{ log.generator }}</b> {{ log.detail|raw }}.</div>
                        <div class="timeline-date">{{ log.dateCreated|date('y/m/d') }}</div>
                    </li>
                    {% endif %}
                {% endfor %}
                <!--
                <li class="timeline-item">
                    <div class="timeline-icon bg-system"><span class="fa fa-fire"></span></div>
                    <div class="timeline-desc"><b>System</b> Your applicaiton is in pending.. waiting for review.</div>
                    <div class="timeline-date">4:15am</div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-icon bg-dark light"><span class="fa fa-tags"></span></div>
                    <div class="timeline-desc"><b>System</b> You have completed your application..</div>
                    <div class="timeline-date">8:25am</div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-icon bg-system"><span class="fa fa-fire"></span></div>
                    <div class="timeline-desc"><b>System</b> Your Account was successfully created and activated..</div>
                    <div class="timeline-date">4:15am</div>
                </li>
                -->
            </ol>

        </aside>
        <!-- end: .tray-right -->

    </section>
    <!-- End: Content -->

{% endblock %}

{% block pagescripts %}
	
{% endblock %}