{% extends ':account:account.html.twig' %}

{% block title %}User / Profile{% endblock %}

{% block pagestyles %}
	<!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/secure/assets/admin-tools/admin-forms/css/admin-forms.css') }}">
{% endblock %}

{% set bodyClass = "profile-page" %}
{% set breadcrumbPage = "View Profile" %}

{% block content %}

	<!-- Begin: Content -->
    <section id="content" class="pn animated fadeIn">

        <!-- <div class="p40 bg-background bg-topbar bg-psuedo-tp"> -->
        <div class="pv30 ph40 bg-light dark br-b br-grey posr">
            <div class="btn-group profile-settings-btn">
                <button type="button" class="btn btn-default dropdown-toggle pl20" data-toggle="dropdown">Access Setting
                    <span class="caret ml5"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="{{ path('wit_account_profile_index') }}">View Profile</a>
                    </li>
                    <li>
                        <a href="{{ path('wit_account_profile_index_1', { 'flag': 'true' }) }}">Edit Profile</a>
                    </li>
                    <li class="divider"></li>
                    
                    <li>
                        <a href="{{ path('wit_user_default_changepassword') }}">Change Password</a>
                    </li>
                    <li>
                        <a href="javascript: confirm('Sorry, you are not allowed to deleted your account at this stage!');">Delete Your Account</a>
                    </li>
                </ul>
            </div>

            <div class="table-layout">
                <div class="w200 text-center pr30 hidden-xs">
                    <img src="{% if user.docYourPhoto %}{{ vich_uploader_asset(user, 'docYourPhotoFile') }}{% else %}{{ _defaultProfileImage }}{% endif %}" width="165px" class="responsive">
                </div>
                <div class="va-t m30">

                    <h2 class=""> {{ user.firstname|capitalize }} {{ user.lastname|capitalize }} 
                        <small> ({{ app.security.token.roles[0].name }}) </small>
                    </h2>
                    <p class="fs15 mb20">Indeed! you are an active user in the system..</p>

                    <ul class="list-inline list-unstyled">
                        <li>
                            <a href="#" title="facebook link">
                                <span class="fa fa-facebook-square fs35 text-primary"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="twitter link">
                                <span class="fa fa-twitter-square fs35 text-info"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="google plus link">
                                <span class="fa fa-google-plus-square fs35 text-danger"></span>
                            </a>
                        </li>
                        <li class="hidden">
                            <a href="#" title="behance link">
                                <span class="fa fa-behance-square fs35 text-primary"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="pinterest link">
                                <span class="fa fa-pinterest-square fs35 text-danger-light"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="linkedin link">
                                <span class="fa fa-linkedin-square fs35 text-info"></span>
                            </a>
                        </li>
                        <li class="hidden">
                            <a href="#" title="github link">
                                <span class="fa fa-github-square fs35 text-dark"></span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" title="phone link">
                                <span class="fa fa-phone-square fs35 text-system"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="email link">
                                <span class="fa fa-envelope-square fs35 text-muted"></span>
                            </a>
                        </li>
                        <li class="hidden">
                            <a href="#" title="external link">
                                <span class="fa fa-external-link-square fs35 text-muted"></span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="p25 pt35">
            <div class="row">
                <div class="col-md-4">

                    <h4 class="page-header mtn br-light text-muted hidden">User Info</h4>

                    <!--
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-icon"><i class="fa fa-trophy"></i>
                            </span>
                            <span class="panel-title"> My Activity</span>
                        </div>
                        <div class="panel-body pb5">
                            {% if app.user.applications %}
                                <span class="label label-warning mr5 mb10 ib lh15">Application was submitted..</span>
                            {% else %}
                                <span class="label label-info mr5 mb10 ib lh15">No application was submitted yet!</span>
                            {% endif %}
                        </div>
                    </div>
                    -->

                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-icon"><i class="fa fa-pencil"></i>
                            </span>
                            <span class="panel-title">About Me</span>
                        </div>
                        <div class="panel-body pb5">
                            <h6 class="text-muted fs13">Full Name</h6>
                            <h4>{{ app.user.firstname|capitalize }} {{ app.user.lastname|capitalize }}</h4>
                            <p class="text-muted"> to be used for official purpose..</p>

                            <hr class="short br-lighter">

                            <h6 class="text-muted fs13">National ID</h6>
                            <h4>{{ app.user.nationalid }}</h4>
                            <p class="text-muted"> to process official documents..</p>

                            <hr class="short br-lighter">

                            <h6 class="text-muted fs13">Email Address</h6>
                            <h4>{{ app.user.email }}</h4>
                            <p class="text-muted"> to receive all official emails..</p>

                            <hr class="short br-lighter">

                            <h6 class="text-muted fs13">User Name</h6>
                            <h4>{{ app.user.username }}</h4>
                            <p class="text-muted"> to be used for login purpose..</p>

                            <hr class="short br-lighter">

                            <h6 class="text-muted fs13">Mobile</h6>
                            <h4>{{ app.user.mobile }}</h4>
                            <p class="text-muted"> to be used for sms notifications..</p>

                            <hr class="short br-lighter">

                            <h6 class="text-muted fs13">Gender</h6>
                            <h4>{{ app.user.gender }}</h4>
                            <p class="text-muted"> to be used for evaluation purpose..</p>

                            <hr class="short br-lighter">

                            <h6 class="text-muted fs13">Country</h6>
                            <h4>{{ app.user.country }}</h4>
                            <p class="text-muted"> to be used for evaluation purpose..</p>

                            <hr class="short br-lighter">
                            
                            <h6 class="text-muted fs13">Date</h6>
                            <h4>{{ app.user.dateCreated|date('Y-m-d') }}</h4>
                            <p class="text-muted"> user registration date..</p>

                        </div>
                    </div>

                </div>
                <div class="col-md-8">


                    {% for flashMessage in app.session.flashbag.get('error') %}
                        {% if flashMessage %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-remove pr10"></i>
                                <strong>{{ flashMessage | raw }}</strong>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if editUserForm is defined %}{# if edit form needs to show #}
                        <!-- update user panel -->
                        <div class="panel mb25 mt5">
                            <div class="panel-heading">
                                <span class="panel-title"> Update Your Information</span>
                                <ul class="nav panel-tabs-border panel-tabs">
                                    <li class="active"><a href="#tab-add-new-user" data-toggle="tab">Information</a></li>
                                </ul>
                            </div>
                            <div class="panel-body p20 pb10">
                                <div class="tab-content pn br-n admin-form">

                                    <div id="tab-add-new-user" class="tab-pane active">

                                        {{ form_start(editUserForm) }}

                                            <div class="section row">
                                                <div class="col-md-6">
                                                    <label for="firstname" class="field prepend-icon">
                                                        {{ form_widget(editUserForm.firstname) }}
                                                        <label for="firstname" class="field-icon"><i class="fa fa-user"></i>
                                                        </label>
                                                    </label>
                                                </div>
                                                <!-- end section -->

                                                <div class="col-md-6">
                                                    <label for="lastname" class="field prepend-icon">
                                                        {{ form_widget(editUserForm.lastname) }}
                                                        <label for="lastname" class="field-icon"><i class="fa fa-user"></i>
                                                        </label>
                                                    </label>
                                                </div>
                                                <!-- end section -->
                                            </div>
                                            <!-- end .section row section -->

                                            <div class="section row">
                                                <div class="col-md-12">
                                                    <label for="email" class="field prepend-icon">
                                                        {{ form_widget(editUserForm.mobile) }}
                                                        <label for="email" class="field-icon"><i class="fa fa-mobile-phone"></i>
                                                        </label>
                                                    </label>
                                                </div>
                                                <!-- end section -->
                                            </div>
                                            <!-- end .section row section -->

                                            {#
                                            <div class="section row">
                                                <div class="col-md-6">
                                                    <label for="email" class="field prepend-icon">
                                                        {{ form_widget(editUserForm.email) }}
                                                        <label for="email" class="field-icon"><i class="fa fa-envelope"></i>
                                                        </label>
                                                    </label>
                                                </div>
                                                <!-- end section -->

                                                <div class="col-md-6">
                                                    <label for="nationalid" class="field prepend-icon">
                                                        {{ form_widget(editUserForm.nationalid) }}
                                                        <label for="nationalid" class="field-icon"><i class="fa fa-credit-card"></i>
                                                        </label>
                                                    </label>
                                                </div>
                                                <!-- end section -->
                                            </div>
                                            <!-- end .section row section -->
                                            #}

                                            <div class="section row">
                                                <div class="col-md-6">
                                                    <label class="field select">
                                                        {{ form_widget(editUserForm.gender) }}
                                                        <i class="arrow double"></i>                    
                                                    </label>
                                                </div><!-- end section -->
                                                <!-- end section -->

                                                <div class="col-md-6">
                                                    <label class="field select">
                                                        {{ form_widget(editUserForm.country) }}
                                                        <i class="arrow double"></i>                    
                                                    </label>  
                                                </div><!-- end section -->
                                            </div>
                                            <!-- end .section row section -->

                                            <div class="section row">
                                                <div class="col-md-12">
                                                    <div class="section">
                                                        <label for="file1" class="field prepend-icon file">
                                                            <span class="button btn-primary"> Choose File </span>
                                                            {{ form_widget(editUserForm.docYourPhotoFile) }}
                                                            <input type="text" class="gui-input" id="uploadfile4" placeholder="Select Your Photo">
                                                            <label class="field-icon"><i class="fa fa-upload"></i></label>
                                                        </label>
                                                    </div>
                                                </div><!-- end section -->
                                            </div>
                                            <!-- end .section row section -->

                                            <!-- end .form-body section -->
                                            <div class="panel-footer clearfix">
                                                <button type="submit" class="button btn-primary pull-right">Update</button>
                                            </div>
                                            <!-- end .form-footer section -->

                                        {{ form_end(editUserForm) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: update user panel -->
                    {% endif %}


                    <div class="tab-block psor">
                        <a href="" class="profile-settings-icon" title="Edit Your Application">
                            <span class="fa fa-gear fs16 text-muted"></span>
                        </a>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">Application</a>
                            </li>
                            <li class="pull-right hidden">
                                <a href="#tab_application" class="ph15" data-toggle="tab">
                                    <span class="fa fa-gear fs14"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" style="height: auto;">
                            <div id="tab_application" class="tab-pane active p15">

                                {% if application %}

                                    <div class="alert alert-info">
                                        All Information displaying below was submitted by the user and will be used for candidate's admission purposes only..
                                    </div>

                                    <!-- Personal Info -->
                                    <div class="panel mb50" id="xedit-demo">
                                        <div class="panel-heading">
                                            <span class="panel-title">Personal Details</span>
                                        </div>
                                        <div class="panel-body">

                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                {#
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 35%;">FIRST NAME</td>
                                                        <td style="width: 65%;">{{ applications.firstname|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>FATHER'S NAME</td>
                                                        <td>{{ application.fathersName|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>GRAND FATHER'S NAME</td>
                                                        <td>{{ application.grandFathersName|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>FAMILY NAME</td>
                                                        <td>{{ application.familyName|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MARITAL STATUS</td>
                                                        <td>{{ application.maritalStatus|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>BIRTH DATE</td>
                                                        <td>{{ application.birthDate|date('Y-m-d') }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>NATIONAL ID</td>
                                                        <td>{{ application.nationalId }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>GENDER</td>
                                                        <td>{{ application.gender }}</td>
                                                    </tr>
                                                </tbody>
                                                #}
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Qualification Info -->
                                    <div class="panel mb50" id="xedit-demo">
                                        <div class="panel-heading">
                                            <span class="panel-title">Qualification Details</span>
                                        </div>
                                        <div class="panel-body">
                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                {#
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 35%;">STUDY LEVEL</td>
                                                        <td style="width: 65%;">{{ application.firstname|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>COMPLETION DATE</td>
                                                        <td>{{ application.completionDate }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>COMPLETION CITY</td>
                                                        <td>{{ application.completionCity|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>GRADE</td>
                                                        <td>{{ application.grade }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ACCUMULATED GRADE</td>
                                                        <td>{{ application.accumulatedGrade }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>QIYAS GRADE</td>
                                                        <td>{{ application.qiyasGrade }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ENGLISH GRADE</td>
                                                        <td>{{ application.englishGrade }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MAJORS</td>
                                                        <td>{{ application.major }}</td>
                                                    </tr>
                                                </tbody>
                                                #}
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Current Address Info -->
                                    <div class="panel mb50" id="xedit-demo">
                                        <div class="panel-heading">
                                            <span class="panel-title">Current Address</span>
                                        </div>
                                        <div class="panel-body">
                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                {#
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 35%;">LIVING PLACE</td>
                                                        <td style="width: 65%;">{{ application.currentLivingPlace|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>HOUSE NO.</td>
                                                        <td>{{ application.houseNo }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>STREET NAME</td>
                                                        <td>{{ application.streetName|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>P.O.BOX</td>
                                                        <td>{{ application.pobox|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CITY</td>
                                                        <td>{{ application.city|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>COUNTRY</td>
                                                        <td>{{ application.country|capitalize }}</td>
                                                    </tr>
                                                </tbody>
                                                #}
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Permanent address Info -->
                                    <div class="panel mb50" id="xedit-demo">
                                        <div class="panel-heading">
                                            <span class="panel-title">Permanent Address</span>
                                        </div>
                                        <div class="panel-body">
                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                {#
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 35%;">HOUSE NO.</td>
                                                        <td style="width: 65%;">{{ application.permanentHouseNo|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>STREET NAME</td>
                                                        <td>{{ application.permanentStreetName|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>P.O.BOX</td>
                                                        <td>{{ application.permanentPobox|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>POSTAL CODE</td>
                                                        <td>{{ application.permanentPostalCode|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CITY</td>
                                                        <td>{{ application.permanentCity|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>COUNTRY</td>
                                                        <td>{{ application.permanentCountry|capitalize }}</td>
                                                    </tr>
                                                </tbody>
                                                #}
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Contact Info -->
                                    <div class="panel mb50" id="xedit-demo">
                                        <div class="panel-heading">
                                            <span class="panel-title">Contact Information</span>
                                        </div>
                                        <div class="panel-body">
                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                {#
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 35%;">TELEPHONE</td>
                                                        <td style="width: 65%;">{{ application.telephone|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MOBILE</td>
                                                        <td>{{ application.mobile|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>EMAIL ADDRESS</td>
                                                        <td>{{ application.email|capitalize }}</td>
                                                    </tr>
                                                </tbody>
                                                #}
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Emergency contact 1 -->
                                    <div class="panel mb50" id="xedit-demo">
                                        <div class="panel-heading">
                                            <span class="panel-title">Emergency Contact 1</span>
                                        </div>
                                        <div class="panel-body">
                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                {#
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 35%;">NAME</td>
                                                        <td style="width: 65%;">{{ application.emergency1Name|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MOBILE NUMBER</td>
                                                        <td>{{ application.emergency1Mobile|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>PHONE NUMBER</td>
                                                        <td>{{ application.emergency1Phone|capitalize }}{{ application.firstname|capitalize }}</td>
                                                    </tr>
                                                </tbody>
                                                #}
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Emergency contact 2 -->
                                    <div class="panel mb50" id="xedit-demo">
                                        <div class="panel-heading">
                                            <span class="panel-title">Emergency Contact 2</span>
                                        </div>
                                        <div class="panel-body">
                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                {#
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 35%;">NAME</td>
                                                        <td style="width: 65%;">{{ application.emergency2Name|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MOBILE NUMBER</td>
                                                        <td>{{ application.emergency2Mobile|capitalize }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>PHONE NUMBER</td>
                                                        <td>{{ application.emergency2Phone|capitalize }}</td>
                                                    </tr>
                                                </tbody>
                                                #}
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Documents Info -->
                                    <div class="panel mb50" id="xedit-demo">
                                        <div class="panel-heading">
                                            <span class="panel-title">Uploaded Documents</span>
                                        </div>
                                        <div class="panel-body">
                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                {#
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 35%;">NATIONAL ID</td>
                                                        <td style="width: 65%;">
                                                            {% if application.docNationalId %}
                                                                <a href="{{ vich_uploader_asset(application, 'docNationalIdFile') }}" target="_blank">Download</a>
                                                            {% else %}
                                                                N/a
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>CERTIFICATE</td>
                                                        <td>
                                                            {% if application.docCertificate %}
                                                                <a href="{{ vich_uploader_asset(application, 'docCertificateFile') }}" target="_blank">Download</a>
                                                            {% else %}
                                                                N/a
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>QIYAS CERTIFICATE</td>
                                                        <td>
                                                            {% if application.docQiyasCertificate %}
                                                                <a href="{{ vich_uploader_asset(application, 'docQiyasCertificateFile') }}" target="_blank">Download</a>
                                                            {% else %}
                                                                N/a
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>PHOTO</td>
                                                        <td>
                                                            {% if application.docYourPhoto %}
                                                                <a href="{{ vich_uploader_asset(application, 'docYourPhotoFile') }}" target="_blank">Download</a>
                                                            {% else %}
                                                                N/a
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                #}
                                            </table>
                                        </div>
                                    </div>

                                    <!-- other Info -->
                                    <div class="panel mb50" id="xedit-demo">
                                        <div class="panel-heading">
                                            <span class="panel-title">Other</span>
                                        </div>
                                        <div class="panel-body">
                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                {#
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 35%;">REFERENCE NUMBER</td>
                                                        <td style="width: 65%;">{{ application.applicationReferenceNo }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>SUBMITTED ON</td>
                                                        <td>{{ application.dateCreated|date('Y-m-d') }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>STATUS</td>
                                                        <td>
                                                            {% if application.applicationStatus == 0 %}
                                                                Pending
                                                            {% elseif application.applicationStatus == 1 %}
                                                                Reviewed
                                                            {% elseif application.applicationStatus == 2 %}
                                                                Accepted
                                                            {% elseif application.applicationStatus == 3 %}
                                                                Rejected
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                #}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="invoice-buttons">
                                        <a href="javascript:window.print()" class="btn btn-default mr10"><i class="fa fa-print pr5"></i> Print Application</a>
                                        <button class="btn btn-primary btn-gradient" type="button"><i class="fa fa-floppy-o pr5"></i> Save Application</button>
                                    </div>

                                {% else %}
                                    <div class="alert alert-info">No Application was submitted..!</div>
                                {% endif %}

                            </div>
                            <!-- End: tab-application -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End: Content -->

{% endblock %}

{% block pagescripts %}
	
{% endblock %}