{% extends ':admin:admin.html.twig' %}

{% block title %}Admin / Dashboard{% endblock %}

{% set breadcrumbPage = "Dashboard" %}

{% block content %}
    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center p25 va-t posr">

            <!-- Dashboard Tiles -->
            <div class="row mb10">
                <div class="col-md-4">
                    <a href="{{ path('wit_tod_default_index') }}" target="_blank">
                        <div class="panel bg-alert light of-h mb10">
                            <div class="pn pl20 p5">
                                <div class="icon-bg"> <i class="fa fa-user"></i> </div>
                                <h2 class="mt15 lh15"> <b>TOD</b> </h2>
                                <h5 class="text-muted">Tod Portal</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('wit_dh_default_index') }}" target="_blank">
                        <div class="panel bg-info light of-h mb10">
                            <div class="pn pl20 p5">
                                <div class="icon-bg"> <i class="fa fa-user"></i> </div>
                                <h2 class="mt15 lh15"> <b>DH</b> </h2>
                                <h5 class="text-muted">Division Head Portal</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!--
                <div class="col-md-4">
                    <a href="{{ path('wit_user_default_index') }}" target="_blank">
                        <div class="panel bg-warning light of-h mb10">
                            <div class="pn pl20 p5">
                                <div class="icon-bg"> <i class="fa fa-envelope"></i> </div>
                                <h2 class="mt15 lh15"> <b>USERS</b> </h2>
                                <h5 class="text-muted">Users Portal</h5>
                            </div>
                        </div>
                    </a>
                </div>
                -->
                <div class="col-md-4">
                    <a href="{{ path('wit_sad_default_index') }}" target="_blank">
                        <div class="panel bg-warning light of-h mb10">
                            <div class="pn pl20 p5">
                                <div class="icon-bg"> <i class="fa fa-user"></i> </div>
                                <h2 class="mt15 lh15"> <b>SAD</b> </h2>
                                <h5 class="text-muted">Sad Portal</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Dashboard Tiles -->
            <div class="row mb10">
                <div class="col-md-4">
                    <a href="{{ path('wit_teacher_default_index') }}" target="_blank">
                        <div class="panel bg-alert light of-h mb10">
                            <div class="pn pl20 p5">
                                <div class="icon-bg"> <i class="fa fa-group"></i> </div>
                                <h2 class="mt15 lh15"> <b>TEACHER</b> </h2>
                                <h5 class="text-muted">Teachers Portal</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('wit_student_default_index') }}" target="_blank">
                        <div class="panel bg-info light of-h mb10">
                            <div class="pn pl20 p5">
                                <div class="icon-bg"> <i class="fa fa-group"></i> </div>
                                <h2 class="mt15 lh15"> <b>STUDENT</b> </h2>
                                <h5 class="text-muted">Students Portal</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('wit_user_default_index') }}" target="_blank">
                        <div class="panel bg-warning light of-h mb10">
                            <div class="pn pl20 p5">
                                <div class="icon-bg"> <i class="fa fa-group"></i> </div>
                                <h2 class="mt15 lh15"> <b>USER</b> </h2>
                                <h5 class="text-muted">Users Module</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Admin-panels -->
            <div class="admin-panels fade-onload sb-l-o-full">

                {#<h3 class="text-center mb25 fw400">Menu Item Options</h3>#}
                <div class="row">
                    <div class="col-md-12">
                        <div data-animate="fadeIn" class="panel panel-transparent">
                            <h5 class="text-muted mb20 text-center">NEWS UPDATE FOR ADMINISTRATOR</h5>
                        </div>
                    </div>

                    <!-- News List -->
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">NEWS UPDATE</span>
                                <div class="widget-menu pull-right mr10">
                                    <a href="{{ path('wit_quicknews_default_viewall') }}">Browse All</a>
                                </div>
                            </div>
                            <div class="panel-body pn">
                                <table class="table mbn tc-med-1 tc-bold-last">
                                    <tbody>
                                        {% for qn in quickNews %}
                                            <tr>
                                                <td {% if qn.isRead==0 %}style="font-weight:bold; font-size:15px;"{% endif %}>
                                                    <i class="fa fa-exclamation-circle text-warning fa-lg pr10"></i>
                                                    <span class="va-t mr10"></span><a href="{{ path('wit_quicknews_default_view', {'id':qn.id}) }}">{{ qn.title }}</a>
                                                </td>
                                                <td style="font-weight:normal; color:#999;">{{ qn.dateCreated|date("F jS \\a\\t g:ia") }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--
                    <div class="col-sm-6 col-lg-12">

                        <div class="panel-group accordion" id="notifications">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle accordion-icon link-unstyled" data-toggle="collapse" data-parent="#notifications" href="#notifications_body">
                                        <span class="panel-title"><span class="glyphicon glyphicon-cog hidden"></span>Notifications</span>
                                    </a>
                                    <div class="widget-menu pull-right mr10">
                                        <span class="badge">32</span>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="glyphicons glyphicons-show_big_thumbnails fs11 mr5"></span>Action
                                            </button>
                                            <ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
                                                <li><a><i class="fa fa-user"></i> Clear All </a></li>
                                                <li><a><i class="fa fa-envelope-o"></i> Block All </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="notifications_body" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {#<div class="alert alert-info alert-dismissable">#}
                                            {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
                                            {#<i class="fa fa-info pr10"></i>#}
                                            {#<strong>Heads up!</strong> This#}
                                            {#<a href="#" class="alert-link">alert needs your attention</a>, it's kinda important.#}
                                        {#</div>#}
                                        {#<div class="alert alert-warning alert-dismissable">#}
                                            {#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
                                            {#<i class="fa fa-warning pr10"></i>#}
                                            {#<strong>Warning!</strong> Best check yo self, you're#}
                                            {#<a href="#" class="alert-link">not looking too good</a>.#}
                                        {#</div>#}
                                        <p>Praesent non nibh nisi. Proin eu massa faucibus, volutpat tellus eu, dapibus velit. Sed feugiat risus at velit lobortis porta.</p>
                                        <p>Praesent non nibh nisi. Proin eu massa faucibus, volutpat tellus eu, dapibus velit. Sed feugiat risus at velit lobortis porta.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->

                    <div class="col-sm-6 col-lg-6">
                        <div class="panel-group accordion" id="birthdays">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle accordion-icon link-unstyled" data-toggle="collapse" data-parent="#birthdays" href="#birthdays_body">
                                        <span class="panel-title"><span class="glyphicon glyphicon-cog hidden"></span>Birthday</span>
                                    </a>
                                    <div class="widget-menu pull-right mr10">
                                        <span class="fs11 text-muted"><i class="fa fa-circle text-success fs12 pr5"></i> 45</span>
                                        <span class="fs11 text-muted ml10"><i class="fa fa-circle text-info fs12 pr5"></i> 17</span>
                                        <span class="fs11 text-muted ml10"><i class="fa fa-circle text-alert fs12 pr5"></i> 26</span>
                                    </div>
                                </div>
                                <div id="birthdays_body" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        <p>Praesent non nibh nisi. Proin eu massa faucibus, volutpat tellus eu, dapibus velit. Sed feugiat risus at velit lobortis porta.</p>
                                        <p>Praesent non nibh nisi. Proin eu.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <div class="panel-group accordion" id="todos">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle accordion-icon link-unstyled" data-toggle="collapse" data-parent="#todos" href="#todos_body">
                                        <span class="panel-title"><span class="glyphicon glyphicon-cog hidden"></span>Todo</span>
                                    </a>
                                    <div class="widget-menu pull-right mr10">
                                        <div class="progress progress-bar-sm" style="width: 120px;">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                <span class="sr-only">60% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="todos_body" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        <p>Praesent non nibh nisi. Proin eu massa faucibus, volutpat tellus eu, dapibus velit. Sed feugiat risus at velit lobortis porta.</p>
                                        <p>Praesent non nibh nisi. Proin eu.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- End Row -->

            </div>

        </div>
        <!-- end: .tray-center -->

        <!-- begin: .tray-right -->
        <aside class="tray tray-right tray290 va-t pn" data-tray-height="match">

            <!-- store activity timeline -->
            <ol class="timeline-list pl5 mt10">
                {% for log in adminLogs %}
                    {% if log.dateCreated > app.user.dateCreated %}
                    <li class="timeline-item">
                        <div class="timeline-icon bg-warning"><span class="fa fa-pencil"></span></div>
                        <div class="timeline-desc"><b>{{ log.generator }}</b> {{ log.detail|raw }}.</div>
                        <div class="timeline-date">{{ log.dateCreated|date('y/m/d') }}</div>
                    </li>
                    {% endif %}
                {% endfor %}
                <!--
                <li class="timeline-item">
                    <div class="timeline-icon bg-warning"><span class="fa fa-pencil"></span></div>
                    <div class="timeline-desc"><b>System</b> Your application was reviewd.</div>
                    <div class="timeline-date">5:25am</div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-icon bg-system"><span class="fa fa-fire"></span></div>
                    <div class="timeline-desc"><b>System</b> Your applicaiton is in pending.. waiting for review.</div>
                    <div class="timeline-date">4:15am</div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-icon bg-dark light"><span class="fa fa-tags"></span></div>
                    <div class="timeline-desc"><b>System</b> You have completed your application..</div>
                    <div class="timeline-date">8:25am</div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-icon bg-system"><span class="fa fa-fire"></span></div>
                    <div class="timeline-desc"><b>System</b> Your Account was successfully created and activated..</div>
                    <div class="timeline-date">4:15am</div>
                </li>
                -->
            </ol>

        </aside>
        <!-- end: .tray-right -->

    </section>
{% endblock %}